* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #121212;
}

.container {
  height: 300px;
  width: 600px;
  background-color: blueviolet;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

.btn {
  margin: 200px auto;
  padding: 10px 20px;
  font-size: 20px;
  background-color: lightcoral;
  border: none;
  outline: none;
  border-radius: 8px;
  cursor: pointer;
  color: #fff;
}

.output{
    margin: 25px auto;
    font-size: 26px;
    color: #fff;
    position: absolute;
    top: 10px;   
    left: 230px;
}